*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav_ul{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 550px;
}